.connection__status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background: #d9534f;
  color: #292b2c;
  z-index: 1001;

  display: flex;
  justify-content: center;
  align-items: center;
}