.newsletter {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  padding: 112px 64px;

  input {
    height: 48px;
    width: 345px;
    padding: 15px;
    border-radius: 5px;
    color: #151519;

    &:focus {
      outline: none;
    }
  }
}